@model RawERD.Data.Diagram

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Diagram</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.json)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.json)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDiagram }) |
    @Html.ActionLink("Back to List", "Index")
</p>
