@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*
    @model IEnumerable<RawERD.Data.Diagram>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.privacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.json)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.privacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.json)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idDiagram }) |
                @Html.ActionLink("Details", "Details", new { id=item.idDiagram }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idDiagram })
            </td>
        </tr>
    }

    </table>
*@